<div class="wrapper">

  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <app-accound-settings></app-accound-settings>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!--Bread crumbs-->
    

    <!--Sistema de rutas-->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <app-breadcrumbs></app-breadcrumbs>
        <router-outlet></router-outlet>
      </div>
    </section>

  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2019-{{year}} <a href="https://siiksolutions.com/">Siik Solutions</a>.</strong>
    All rights reserved.
  </footer>

</div>
<app-modal-image></app-modal-image>