<div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a><b>SIIK</b>Solutions</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">
            Te damos la bienvenida a SIIK Solutions</p>
    
          <form method="post"
                autocomplete="off"
                [formGroup]="loginForm"
                (ngSubmit)="login()">

            <div class="input-group mb-3">
              <input type="email" 
                     class="form-control" 
                     placeholder="Correo electronico"
                     formControlName="email">

              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" 
                     class="form-control" 
                     placeholder="Contraseña"
                     formControlName="password">

              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-7">
                <div class="icheck-primary">
                  <input type="checkbox" 
                         id="remember"
                         formControlName="remember">

                  <label for="remember">
                    Recordar usuario
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <div class="social-auth-links text-center mb-3 mt-4" id="google-btn">
            
            <div id="my-signin2"></div>
          </div>
          <!-- /.social-auth-links -->
    
          <!-- <p class="mb-1">
            <a href="forgot-password.html">¿Olvidaste tu contraseña?</a>
          </p> -->
          <p class="mb-0">
            <a routerLink="/register" class="text-center">Crea una cuenta nueva</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
</div>