<div class="register-page">
    <div class="register-box">
      <div class="register-logo">
        <a><b>SIIK</b>Solutions</a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Registrar una nuevo usuario</p>
    
          <form method="post"
                autocomplete="off"
                [formGroup]="registerForm"
                (ngSubmit)="createUser()">
            <div class="input-group mb-3">
              <input type="text" 
                     class="form-control" 
                     placeholder="Nombre completo"
                     formControlName="name">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" 
                      class="form-control" 
                      placeholder="Correo electrónico"
                      formControlName="email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" 
                      class="form-control" 
                      placeholder="Contraseña"
                      formControlName="password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" 
                      class="form-control" 
                      placeholder="Confirmar contraseña"
                      formControlName="password2">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col text-danger">
                <p *ngIf="fildNotValid('name')">* El nombre es obligatorio</p>
                <p *ngIf="fildNotValid('email')">* El email tiene que ser valido</p>
                <p *ngIf="paswordsNotValid()">* Las contraseñas deben ser iguales</p>
                <p *ngIf="aceptTerms()">* Debe aceptar los terminos</p>
              </div>
            </div>

            <div class="row">
              <div class="col-7">
                <div class="icheck-primary">
                  <input type="checkbox" 
                          id="agreeTerms" 
                          name="terms" 
                          value="agree"
                          formControlName="terms">
                  <label for="agreeTerms">
                   Acepto los <a href="#">terminos</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">Registrarte</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <a routerLink="/login" class="text-center">Ya tengo una cuenta</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
</div>