<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text"
                        class="form-control"
                        placeholder="Buscar cliente"
                        #txtTerm
                        (keyup)="search(txtTerm.value)">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-user-tag"></i>
                Clientes
              </h3>
              <div class="text-right">
                <a routerLink="/dashboard/customer/new" class="btn btn-primary btn-sm">
                  Crear Cliente
                </a>
              </div>
            </div>

            <div *ngIf="loading" class="card-body text-center animate__animated animate__fadeIn animate__fast">
              <div class="spinner-border m-3" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <!-- /.card-header -->
            <div *ngIf="!loading" class="card-body animate__animated animate__fadeIn animate__fast">
              <h6 class="card-subtitle">Total de clientes: {{customers.length}}</h6>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>                  
                          <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th class="text-nowrap">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let customer of customers" class="text-center">
                            <td>
                                <img (click)="openModal(customer)"
                                   [src]="customer.img | image:'customers'" 
                                   [alt]="customer.name"
                                   class="img-fluid img-circle avatar cursor">
                            </td>
                            <td>{{customer.name}}</td>
                            <td class="text-nowrap text-center">
                                <a [routerLink]="['/dashboard', 'customer', customer._id]" class="text-info cursor">
                                  <i class="fas fa-pencil-alt"></i>
                                </a>
                                &nbsp;
                                <a (click)="deleteCustomer(customer)" class="text-danger cursor">
                                    <i class="fas fa-trash">
                                    </i>
                                </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              
            </div>
        </div>
    </div>
</div>
